ENV=development
LOG_LEVEL=info
APP_KEY=
HOST=http://localhost:8888

DATABASE_URL=file:local.db
TURSO_AUTH_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8888/oauthcallback

VITE_APP_TITLE=Netlify-Fullstack
VITE_APP_HOST=http://localhost:8888
